# Use public npm registry
registry=https://registry.npmjs.org/

# Automatically install peer dependencies
auto-install-peers=true

# Node modules layout (hoist to support libs expecting root deps)
node-linker=hoisted

# Optional: strictly resolve dependency versions
strict-peer-dependencies=true

# Optional: save exact versions
save-exact=true